.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main-idea-container {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 0;
}

/* Ideas-Menu */
.ideas-menu {
  background-color: #1F1F3D;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 250px;
}

.idea-box-header {
  color: #E9E9F3;
}

.filter-starred-ideas {
  color: #BFBFDD;
}

.show-starred-ideas {
  background-color: #5356A4;
  color: #E9E9F3;
}

/* Main Section */
.main-section {
  background-color: #A9AAD2;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  height: 30%;
  width: 100%;
}

.title, .body {
  color: #2F304F;
}

.input-title-border {
  width: 330px;
  border-color: #353567;
  color: #9798C7;
}

.input-body-border {
  width: 330px;
  border-color: #353567;
  color: #9798C7;
}

.save-button {
  width: 330px;
  background-color: #363567;
  color: #E9E9F3;
}

.search-ideas-container {
  /* background-color: #E9E9F3; */
}

.search-image {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}

.input-search-border {
  height: 30px;
  width: 300px;
  border-color: #353567;
  color: #9798C7;
}

::placeholder {
  color: #9798C7;
}


/* Idea Section */

.idea-section {
  background-color: #EAEAF4;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  width: 100%;
}

.top-bar {
  background-color: #1F1F3D;
}

.card-title {
  color: #1F1F3D;
  font-weight: bold;
}

.card-body{
  color: #1F1F3D;
}

.comment-bar {
  background-color: #5356A4;
  color: #E9E9F3;
}

.star-active {
  width: 20px;
  height: 20px;
}

.delete {
  width: 20px;
  height: 20px;
}

.comment-cross {
  width: 25px;
  height: 25px;
}
