/* Body Adjustments */
body {
  margin: 0;
}

.page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.main-idea-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

/* Ideas-Menu */
.ideas-menu {
  background-color: #1F1F3D;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-weight: bold;
  height: 100%;
  width: 250px;
}

.idea-box-header {
  color: #E9E9F3;
  font-size: 18px;
  padding: 20px 10px;
  margin: 0;
}

.menu-styling-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #353567;
  border-bottom: 1px solid #353567;
  padding: 20px 10px;
}

.filter-starred-ideas {
  color: #BFBFDD;
  font-size: 14px;
  font-weight: lighter;
  margin: 0 0 20px 0;
}

.show-starred-ideas {
  background-color: #5356A4;
  color: #E9E9F3;
  font-size: 16px;
  font-weight: bold;
  cursor: not-allowed;
  height: 40px;
  width: 200px;
}

/* Main Section */
.main-section {
  background-color: #A9AAD2;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: lighter;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;
}

.title,
.body {
  color: #2F304F;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  width: 330px;
}

.input-title-border, .input-body-border{
  color: #9798C7;
  border: 1px solid #545457;
  height: 40px;
  width: 330px;
}

.input-body-border {
  height: 80px;
}

.save-button {
  color: #E9E9F3;
  background-color: #363567;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 6px;
  height: 40px;
  width: 335px;
}

.disable-button {
  background-color: #5356A4;
  cursor: not-allowed;
}

.search-ideas-container {
  display: flex;
  justify-content: center;
  height: 40px;
}

.search-image {
  background-color: #363567;
  cursor: not-allowed;
  padding: 6px 6px 9px 6px;
  margin: 0px -4.5px 0px 7px;
  height: 25px;
  width: 25px;
}

.input-search-border {
  color: #9798C7;
  border: 1px solid #545457;
  height: 40px;
  width: 303px;
}

::placeholder {
  color: #9798C7;
}

/* Idea Section */
.idea-section {
  background-color: #EAEAF4;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: scroll;
  height: 60%;
  width: 100%;
}

.idea-card {
  background-color: #FFFFFF;
  border: 1px solid #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 10px;
  height: 275px;
  width: 250px;
}

.top-bar {
  background-color: #1F1F3D;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  height: 30px;
}

.card-title {
  color: #1F1F3D;
  font-weight: bold;
  padding: 0px 10px;
  height: 40px;
}

.card-body {
  color: #1F1F3D;
  font-size: 20px;
  overflow: scroll;
  padding: 0px 10px;
  margin: 0;
  height: 120px;
}

.comment-bar {
  color: #E9E9F3;
  background-color: #5356A4;
  border-top: 1px solid #1F1F3D;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  height: 30px;
}

.comment-input {
  margin: 5px 0 0 0;
}

.star-icon, .star-active {
  cursor: pointer;
  margin-left: 2px;
  height: 25px;
  width: 25px;
}

.delete {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.comment-cross {
  cursor: not-allowed;
  padding-top: 2px;
  height: 25px;
  width: 25px;
}

.hidden {
  display: none;
}